:root {
  --primary-color: #0606b0;
  --secondary-color: #fffbf3;
  --primary-color-light: #e4e4ff;
  --secondary-color-light: #fffbf3d0;
  --primary-font: "Outfit", sans-serif;
  --secondary-font: "Lato", sans-serif;
  --tertiary-font: "Reenie Beanie", sans-serif;
  --logo-font: "Odor Mean Chey", serif;
}

/* GLOBAL RESET */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
  fill: var(--primary-color);
  cursor: pointer;
}

a:visited {
  color: var(--primary-color);
}

/* FONTS */

/* h1s (headers) on Hero, About Error pages */
h1 {
  font-family: var(--primary-font);
  color: var(--primary-color);
  margin: 0;
  padding: 0;
  font-size: clamp(2.81rem, 13vw, 8rem);
  font-weight: bold;
}

/* "handwriting" headers for Projects, Person, Process (in About) */
h2 {
  font-family: var(--tertiary-font);
  font-size: clamp(2.81rem, 13vw, 6rem);
  align-self: flex-start;
  font-weight: 400;
}
/* "handwriting" taglines in Hero, About */
h3 {
  font-family: var(--tertiary-font);
  font-size: clamp(1.8rem, 5.5vw, 3.4rem);
  font-weight: normal;
  margin-bottom: 1rem;
}

/* hero and about taglines*/
h4 {
  font-size: clamp(0.8rem, 3.6vw, 2.25rem);
  font-weight: normal;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  margin-left: 3px;
}

p {
  font-size: clamp(1rem, 2.14vw, 1.3rem);
}

/* BUTTONS */
.button {
  align-self: center;
  /* margin-top: 1.5rem; */
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center;
  padding: 8px 16px;
  border: 2px solid var(--primary-color);
  border-radius: 16px;
  font-family: var(--primary-font);
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s;
}

.button:hover {
  transform: scale(1.05);
}
.button:active {
  transform: scale(1.01);
}
.button--light {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  fill: var(--primary-color);
}

.button--arrowSvg {
  fill: currentColor;
}

.button--light:hover {
  background-color: var(--primary-color-light);
  border: 2px solid var(--primary-color-light);
}

.button--dark {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.button--dark:hover {
  transition: none;
  background-color: var(--primary-color-light);
  border: 2px solid var(--primary-color-light);
  color: var(--primary-color);
  fill: var(--primary-color);
}

/* SCROLL DOWN ARROW container */

.scroll-down-icon {
  width: 1.8rem;
  height: 1.8rem;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  position: relative;
  opacity: 0%;
  animation: down 1.5s infinite 2s, scroll-appear ease-in 2s forwards 2s;
  -webkit-animation: down 1.5s infinite 2s, scroll-appear ease-in 2s forwards 2s;
  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 8px;
    width: 9px;
    height: 9px;

    border-left: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    transform: rotate(-45deg);
  }
}

.scroll-about {
  margin-top: 5rem;
  /* margin-bottom: 4rem; */
}
.scroll-hero {
  margin-top: 2rem;
  margin-bottom: 0.1rem;
}

/* NAVBAR SECTION  (mobile) */

.logo {
  font-size: 2.5rem;
  font-family: var(--logo-font);
}

/* Desktop navbar styling in media query at the bottom */

/* navbar styles inline in Navbar.jsx;
      position: 'fixed',
    	top: `${top}rem`,
		  transition: 'top 0.3s',
		  zIndex: "5" 
    */

.navbar--desktop {
  display: none;
}
.navbar--mobile {
  width: 100dvw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin: 0;
}
.hamburger-react {
  color: var(--primary-color);
}

.navbar--hamburger-open {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100dvw;
  font-family: var(--primary-font);
  font-size: 2rem;
  background-color: var(--primary-color-light);
  top: 80px;
  left: 0;
}

.navbar--hamburger-open > .navbar--navLink {
  padding: 1rem 35%;
  border-top: 1px solid var(--primary-color);
  width: 100%;
}

.navbar--navLink:first-of-type {
  border: none;
}

/* GENERAL FORMATTING FOR SECTION CONTAINERS */

.hero,
.error,
.about,
.about--hero,
.projects,
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  font-family: var(--primary-font);
  color: var(--primary-color);
}

.hero--container,
.about--container,
.projects--container,
.footer--container,
.contact--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HERO SECTION */

.hero--container {
  margin-top: 5.5rem;
}
.hero--name {
  align-self: flex-start;
}
.bottom {
  margin-top: clamp(-3rem, -5.5vw, -1.15rem);
}

/* PROJECTS SECTION */
.projects {
  margin-top: 4rem;
}
.projects--container {
  display: flex;
  flex-direction: column;
  padding: clamp(1.5rem, 5vw, 4rem) clamp(1.3rem, 5vw, 8rem);
  /* margin-top: 10rem; */
}
.projects--header {
  margin-left: 20px;
}
.projects--card-collection-column {
  display: flex;

  flex-direction: column;
}
.projects--card-collection-row {
  display: flex;

  flex-direction: row;
  row-gap: 1rem;
}

/* INDIVIDUAL PROJECT CARD SECTION */

.card--container {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  border: 1px solid var(--primary-color);
  padding: 16px;
  border-radius: 24px;
  margin: 3rem clamp(0.7rem, 0.9rem, 1rem);
  gap: 2rem;
  transition: top 0.3s;
}

.card--img-column {
  position: relative;
  flex: 1 1 50%;
}

.card--img {
  flex: 1 1 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.projects--card-collection-row
  > .animate-onscroll-visible
  > .card--container
  > .card--img-column
  > .card--img {
  height: 20rem;
}

.card--tag-container {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.card--tag {
  height: auto;
  padding: 8px 12px;
  border-radius: 44px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.card--text-column {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.card--text-header {
  font-size: 1.3rem;
  padding: 0;
  font-weight: bold;
}

.card--text-container {
  font-size: 1.1rem;
  font-family: var(--secondary-font);
  overflow: hidden;
}
.card--description {
  text-overflow: ellipsis;
}
.card--text-icons {
  display: flex;
  justify-content: flex-start;
  column-gap: 20px;
  padding: 0.4rem 0;
  height: 2.4rem;
  margin: 0.5rem 0;
}
.card--buttons {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  margin-top: 1.5rem;
}

/* ABOUT */

.about--hero,
.contact--container {
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}
.about--description,
.about--projects {
  display: flex;
  flex-direction: column;
}

.about--description {
  width: 65dvw;
}
.about--projects {
  width: 85dvw;
  margin-top: 4rem;
}

.about--description-header {
  margin-bottom: 2rem;
}

.about--description-header,
.process {
  margin-top: 5rem;
}
.about--description-text {
  font-family: var(--secondary-font);
  justify-self: flex-start;
  text-align: justify;
}

.about--tools {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: clamp(0.2rem, 0.3rem, 0.5rem);
  font-size: 0.875rem;
  margin-top: 1.5rem;
}
.about--tool-container {
  width: 4rem;
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.about--tool-icon,
.socials-icon {
  width: 100%;
  min-height: 4rem;
  margin-bottom: 0.5rem;
}

.about--tool-name,
.about--projects-header {
  text-align: center;
}

/* CONTACT  */

.contact--container {
  position: relative;
  margin-top: 10rem;
}

.contact--header {
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.socials-links {
  display: flex;
  justify-content: space-between;
  width: 10rem;
  margin-top: 8rem;
  padding: 0;
  gap: 1.8rem;
}

/* FOOTER */
.footer--container {
  /* position: relative; */
  background-color: var(--primary-color);
  padding: 3rem 1rem;
  margin-top: clamp(4rem, 5vw, 18rem);
  display: flex;

  order: 2;
  flex-grow: 0;
  z-index: 2;
}
.footer--header {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  font-size: 4rem;
  align-self: center;
  text-align: center;
}

.logo-light {
  color: var(--secondary-color);
  margin-top: 1rem;
}

/* don't show speech bubble on mobile */
.speech-bubble {
  display: none;
}

/* 404 ERROR PAGE */

.error {
  margin-top: -5rem;
}

.error--tagline {
  font-size: clamp(0.8rem, 3.6vw, 2.25rem);
  margin-top: 2rem;
}

/* MEDIA CALLS */

@media screen and (min-width: 26.56rem) {
  .card--buttons {
    flex-direction: row;
  }
}

/* BIG DESKTOP  (37rem = 592px and up) */
@media screen and (min-width: 37rem) {
  /* make button and arrow-down div slightly larger when on desktop*/
  .button {
    padding: 12px 24px;
    font-size: 1.3rem;
  }
  .scroll-down-icon {
    width: 2.5rem;
    height: 2.5rem;

    &::before {
      top: 10px;
      left: 12px;
      width: 12px;
      height: 12px;
    }
  }
  .navbar--mobile {
    display: none;
  }

  /* navbar styles inline in Navbar.jsx;
      position: 'fixed',
    	top: `${top}rem`,
		  transition: 'top 0.3s',
		  zIndex: "5" 
    */
  .navbar--desktop {
    display: flex;
    width: 100dvw;
    justify-content: space-between;
    align-items: center;
    padding: 1.31rem 5rem 0.7rem 5rem;
    background-color: var(--secondary-color-light);
  }

  .navbar--desktop-ul {
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
    padding: clamp(1rem, 2vw, 2rem);
    column-gap: clamp(1.5rem, 6.5vw, 7rem);
    font-family: var(--primary-font);
    font-size: 1.5rem;
  }

  /* increase margin between hero and project section on desktop */
  .projects {
    margin-top: 8rem;
  }

  .socials-links {
    width: 12rem;
  }
  /* only show speech bubble in footer on desktop */
  .speech-bubble {
    display: contents;
    position: relative;
    background-color: red;
  }
  .bubble {
    /* speech bubble svg*/
    position: absolute;
    left: 55.8%;
    top: 55.79%;
    stroke: var(--secondary-color);
  }

  .bubble-text {
    /* wanna go manual? piasmithrichling@gmail.com */
    position: absolute;
    left: 57.5%;
    top: 65%;

    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2rem;

    color: var(--secondary-color);

    transform: rotate(-11.45deg);
  }
  .bubble-text > span {
    display: block;
  }
}

/* bigger screen 57rem = 912px and up */
@media screen and (min-width: 57rem) {
  /* only for projects--card-collection in PROJECTS (NOT ABOUT) -> card-container flex direction should be row on large screen  
  - card collection gets ..-column class in PROJECTS, card is wrapped in animate-scroll class, and then card--container class
  */
  .projects--card-collection-column > .animate--scroll > .card--container {
    flex-direction: row;
  }
}

/* scroll animations */

.animate-onscroll-hidden {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 2s ease-out, transform 1s ease-out;
  -webkit-transition: opacity 2s ease-out, transform 1s ease-out;
}

.animate-onscroll-visible {
  flex: 1;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-in 0.1s, transform 0.5s ease-in 0.1s;
  -webkit-transition: opacity 0.5s ease-in 0.1s, transform 0.5s ease-in 0.1s;
}

/* ANIMATIONS for ScrollDownIcon */
@keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}

@-webkit-keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}

@keyframes scroll-appear {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scroll-appear {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
